/* BACKGROUND IMAGE FOR BODY */
body {
    background-image: url(./Images/background.jpg);
}

/* ADDING COLOR TO NAVBAR LINKS */
.nav-link {
    color:black;
}

/* STYLING FOR ABOUT SECTION */
#aboutDiv{
    margin-bottom: 250px;
}

#aboutCard {
    background-color: white;
    border: 8px double black;
}

/* STYLING FOR HEADERS */
h5 {
    font-size: 30px;
}

h6 {
    font-size: 25px;
}

/* STYLING FOR PORTFOLIO SECTION */

#portDiv {
        background-color: rgb(34, 33, 33);
        margin-bottom: 230px;
        padding-bottom: 50px;   
}

#portDivTitle {
    padding-top: 20px;
    color: white;   
}

#FirstRow {
    margin-top: 40px;
}

#imageTitle {
    color: white;
    text-align: center;
}

#promoImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;    
} 

/* STYLING FOR FOOTER SECTION */
footer {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}
